{% extends "base.html" %}

{% block left_sidebar %}
<div class="col-md-3">
    <nav class="nav flex-column">
        {% for category in main_categories %}
        <a class="nav-link" href="{% url 'news.category.index' slug=category.slug %}">{{ category.name }}</a>
        {% endfor %}
    </nav>
</div>
{% endblock left_sidebar %}

{% block right_sidebar %}
<div class="col-md-3">
    <h4 class="fst-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="#">March 2021</a></li>
        <li><a href="#">February 2021</a></li>
        <li><a href="#">January 2021</a></li>
        <li><a href="#">December 2020</a></li>
        <li><a href="#">November 2020</a></li>
        <li><a href="#">October 2020</a></li>
        <li><a href="#">September 2020</a></li>
        <li><a href="#">August 2020</a></li>
        <li><a href="#">July 2020</a></li>
        <li><a href="#">June 2020</a></li>
        <li><a href="#">May 2020</a></li>
        <li><a href="#">April 2020</a></li>
    </ol>
</div>
{% endblock right_sidebar %}

{% block content %}
<div class="col">
    {% for single_news in list %}
    <article class="blog-post">
        <h2 class="blog-post-title">{{ single_news.name|safe|truncatewords:"10"|linebreaks }}</h2>
        <div class="row">
            <p class="blog-post-meta col">Date: {{single_news.created_at|date:'d-m-Y'}}</p>
            <p class="blog-post-meta col">Category: <a href="{% url 'news.category.index' slug=single_news.category.slug %}">{{ single_news.category.name }}</a></p>
        </div>
        <p>{{ single_news.content|safe|truncatewords:"50"|linebreaks }}</p>
        <a class="btn btn-primary" href="{% url 'news.show' slug=single_news.slug %}">read more</a>
    </article>    
    {% endfor %}
    <!--Pagination-->
    <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ list.number }} of {{ list.paginator.num_pages }}
                </span>

                {% if list.has_next %}
                <a href="?page={{ list.next_page_number }}">next</a>
                <a href="?page={{ list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!--end of Pagination-->
</div>
{% endblock content %}


    