{% extends "base.html" %}

{% block content %}
<div class="col ">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
    </h3>
    <article class="blog-post">

        <h2 class="blog-post-title">{{ current_news.name|safe|linebreaks }}</h2>
        <div class="row">
            <p class="blog-post-meta col">Date: {{current_news.created_at|date:'d-m-Y'}}</p>
            <p class="blog-post-meta col">Category: <a href="{% url 'news.category.index' slug=current_news.category.slug %}">{{ current_news.category.name }}</a>
            <p class="blog-post-meta col">Count: {{ current_news.view_count }}</a>
        </div>
            {{ current_news.content|safe|linebreaks }}
    </article>
</div>
{% endblock content %}